<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::body}, 'home')}">
<head>
    <meta charset="UTF-8"/>
    <title>Solent Comedy</title>

</head>
<body>
<h2 th:text="'Home'">Homepage</h2>

<div class="slider-holder">
    <span id="slider-image-1"></span>
    <span id="slider-image-2"></span>
    <span id="slider-image-3"></span>
    <div class="image-holder">
        <img src="images/img_lights_wide.png" class="slider-image" />
        <img src="images/img_mountains_wide.png" class="slider-image" />
        <img src="images/img_nature_wide.png" class="slider-image" />
    </div>
    <div class="button-holder">
        <a href="#slider-image-1" class="slider-change"></a>
        <a href="#slider-image-2" class="slider-change"></a>
        <a href="#slider-image-3" class="slider-change"></a>
    </div>
</div>

</body>
</html>