<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::body}, 'about')}">
<head>
    <meta charset="UTF-8"/>
    <title>Solent Comedy</title>
</head>
<body>
<!--/*@thymesVar id="about" type="guru.springframework.comedy-website.model.About"*/-->
<h2 th:text="'About'">About page</h2>

<div class="row">
    <div class=":col-md-12">
        <img class="img-responsive" src="../static/images/logo.png" th:src="@{/static/images/logo/png}"/>
    </div>
</div>
</body>
</html>