<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::body}, 'events')}">
<head>
    <meta charset="UTF-8"/>
    <title>Solent Comedy</title>
</head>
<body>
<!--/*@thymesVar id="events" type="guru.springframework.comedy-website.model.Event"*/-->
<h2 th:text="'Events'">Events page</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 200px;">Id</th>
        <th style="width: 150px;">Event Name</th>
        <th style="width: 150px;">Event Details</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="event : ${events}">
        <td th:text="${event?.id}">1</td>
        <td th:text="${event?.name}">Joe</td>
        <td th:text="${event?.description}">Buck</td>
    </tr>
    </tbody>
</table>

</body>
</html>